@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<br />

<label>@ViewBag.Actual</label>

<div class="form-group row">
    <button type="button" onclick="location.href='@Url.Action("Hola", "Home", new { i = @ViewBag.Actual })'"> Hola </button>
</div>