@model IEnumerable<CountriesApp.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country1)
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < 10; i++)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.ToList()[i].idNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ToList()[i].firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ToList()[i].lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ToList()[i].birthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ToList()[i].email)
        </td>
    </tr>
    }
</table>
