@model CountriesApp.Models.Country

@{
    ViewBag.Title = "AllCountries";
}
<html>
<head>
    <meta name="viewport" uiactions="expand" content="width=device-width" />
</head>
<body>
    <!-- Country data order: id name area population flag anthem president id -->
    <form name="frmCountries" id="frmCountries" method="post">
        <!-- Population Info -->
        <!-- People data order: id idNumber firstName lastName birthCountry residenceCountry birthdate email photo interview -->
        <h2>People</h2>
        <table id="refresh" class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Person.firstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.lastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.birthdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.email)
                </th>
            </tr>
            @{
            
            for (int i = 0; i < Model.SelectedPeople.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.SelectedPeople.ToList()[i].firstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.SelectedPeople.ToList()[i].lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.SelectedPeople.ToList()[i].birthdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.SelectedPeople.ToList()[i].Country.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.SelectedPeople.ToList()[i].email)
                    </td>
                </tr>
            }
            }
        </table>

        </form>
</body>
</html>
