@model IEnumerable<CountriesApp.Models.TotalPeople_Q>

@{
    ViewBag.Title = "Query_2";
}

<html>
<head>
    <meta name="viewport" uiactions="expand" content="width=device-width" />
</head>
<body>
    @Html.ActionLink("Previous", "Query_2", new { Year = ViewBag.Year, sum = -1 }) | @Html.ActionLink("Previous", "Query_2", new { Year = ViewBag.Year, sum = +1 })
    <form name="Query_2" id="Query_2" method="post">
        @try
        {
            <h2>@Model.First().BirthYear</h2>
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CountryName)</th>
                    <th>@Html.DisplayNameFor(model => model.PeopleBorned)</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CountryName)</td>
                        <td>@Html.DisplayFor(modelItem => item.PeopleBorned)</td>
                    </tr>
                }
            </table>
        }
        catch (InvalidOperationException)
        {
            <h2 style="color:red">No births this year</h2>
        }

    </form>
</body>
</html>
